/* 定義 GenRyuMin2 Font Family 的不同粗細 */
@font-face {
  font-family: "GenRyuMin2TW";
  src: url("/fonts/GenRyuMin2TW-L.otf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "GenRyuMin2TW";
  src: url("/fonts/GenRyuMin2TW-M.otf") format("truetype");
  font-weight: 600; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "GenRyuMin2TW";
  src: url("/fonts/GenRyuMin2TW-R.otf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "GenRyuMin2TW";
  src: url("/fonts/GenRyuMin2TW-B.otf") format("truetype");
  font-weight: 800; /* Bold */
  font-style: normal;
}

/* 應用到全站 */
body {
  font-family: "GenRyuMin2TW", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "GenRyuMin2TW", sans-serif !important;
}

h1 { font-size: 42px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h6 { font-size: 15px; }



/* --- General --- */

.container[role=main] {
  margin-bottom: 23px !important;
  flex: 1 0 auto;
}

p+p {
  margin: 22px 0 6px 0 !important;
}


/* --- Footer --- */

@media only screen and (min-width: 768px) {
  footer {
    padding: 50px 0;
  }

  footer .footer-links {
    font-size: 17px !important;
  }

  footer .copyright {
    font-size: 15px !important;
  }
}



/* --- Post preview --- */

.post-preview .post-title {
  /* font-size: 27px; */
  margin-top: 0;
}

.post-entry-container {
  display: inline-block;
  width: 100%;
}



/* --- Post and page headers --- */

.intro-header .page-heading h1,
.intro-header .tags-heading h1,
.intro-header .categories-heading h1 {
  margin-top: 0;
}

.intro-header .post-heading h1 {
  margin-top: 0;
  font-size: 32px;
}

.intro-header .page-heading .page-subheading,
.intro-header .post-heading .post-subheading {
  font-size: 25px;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 10px 0 0;
}