/* 定義 GenRyuMin2 Font Family 的不同粗細 */
@font-face {
  font-family: "GenRyuMin2TW";
  src: url("/fonts/GenRyuMin2TW-L.otf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "GenRyuMin2TW";
  src: url("/fonts/GenRyuMin2TW-M.otf") format("truetype");
  font-weight: 600; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "GenRyuMin2TW";
  src: url("/fonts/GenRyuMin2TW-R.otf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "GenRyuMin2TW";
  src: url("/fonts/GenRyuMin2TW-B.otf") format("truetype");
  font-weight: 800; /* Bold */
  font-style: normal;
}

/* 應用到全站 */
body {
  font-family: "GenRyuMin2TW", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "GenRyuMin2TW", sans-serif !important;
}
